@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import "../assets/fonts/font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .logo {
    @apply text-3xl font-semibold;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220; */
  /* --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  font-family: "Lato", "Helvetica Neue", sans-serif;
}

body {
  color: #212121;
}

h1 {
  font-size: 62px;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 45px;
  margin-bottom: 20px;
}
